.authform__container{
    display: flex;
    flex-direction: column;
    height:60vh;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.authform__box{
    /* background-image: linear-gradient(to top, #c1dfc4 10%, #deecdd 60%); */
    /* background-color: rgb(231, 255, 218); */
    border:2px solid  rgb(226, 235, 161);
    padding:30px;
    border-radius:20px;
}

.kwitter{
    font-size:17px;
    color:rgb(142, 181, 98);
    margin:0;
    padding-bottom:20px;
}

.form__container{
    display: flex;
    flex-direction: column;
    width:250px;
    margin:0 auto;
}

.auth__input{
    border:1px solid rgb(189, 209, 138);
    border-radius:4px;
    margin-bottom:5px;
    padding:2px;
}

.auth__btn{
   color:aliceblue;
   background-color: rgb(183, 202, 135);
   cursor:pointer;
   border-radius:4px;
   margin-bottom:10px;
   padding:3px;
}

.toggle__btn{
    cursor:pointer;
}

.toggle__btn:hover{
    color:rgb(153, 179, 93);
}