.authform__container{
    padding:20px;
    text-align:center;
    height:100%;
}

.kwitter{
    padding-bottom:20px;
}

.form__container{
    display: flex;
    flex-direction: column;
    width:250px;
    margin:0 auto;
}

.auth__input{
    border:1px solid rgb(189, 209, 138);
    border-radius:4px;
    margin-bottom:5px;
    padding:2px;
}

.auth__btn{
   color:aliceblue;
   background-color: rgb(183, 202, 135);
   cursor:pointer;
   border-radius:4px;
   margin-bottom:10px;
   padding:3px;
}

.toggle__btn{
    cursor:pointer;
}

.toggle__btn:hover{
    color:rgb(143, 157, 109);
}