
.setting__container{
    text-align: center;
}

.setting__title{
    font-weight:600;
    border-top:1px solid rgb(229, 228, 228);
    padding-top:20px;
}

.setting__form{
    margin-bottom:40px;
}

.setting__input {
    height: 30px;
    padding: 0px 20px;
    border: 1px solid #8a8d7e;
    border-radius:15px;
    font-weight: 500;
    font-size: 14px;
    margin-right:10px;
}

.setting__submit{
    cursor:pointer;
}

.setting__list{
    color:#5f715a;
    cursor:pointer;
    font-size:13px;
}

.setting__list:hover{
    text-decoration: underline;
}
.setting__logout{
    width:50px;
    margin:50px auto 20px;
    padding:7px;
    border-radius: 14px;
    background:none;
    background-color: rgb(65, 64, 64);
    border:none;
    color:white;
    cursor: pointer;
}

.post__list{
    width:280px;
    margin:35px auto;
    text-align: left;
}

.post__title{
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.post__date{
    color:#8a8d7e;
    font-size:12px;
}
